.marquee {
    display: flex;
    width: fit-content;
    animation: marquee 40s linear infinite;
  }
  
  .marquee:hover {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .textshadow{
    text-shadow: 1px 1px 1px gray;
}
  